.content {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

/*привет, вернула 92px, https://clip2net.com/s/4jPQdom 
да, 70 я подогнала под PP признаюсь, сейчас увидела ошибку 
в лого из-за которой шапка не совпадала, 80 не могу найти(
  у меня вроде стоит идеально https://clip2net.com/s/4jPQhyW
  но я не могу понять, действительно надо делать такие 
  ситуации https://clip2net.com/s/4jPQk2u ? p.s. но я сделала если что 
  https://clip2net.com/s/4jPQKBy*/
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px; /*1) 92px PP*/
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

/*.header-menu {
}*/

.header-menu-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
}

.header-menu-item {
  margin-right: 30px;
  padding-left: 2px; /*PP*/
}

.header-menu-list li:last-child {
  margin-right: 0;
}

.header-menu-link {
  text-underline-offset: 4px;
}

.menu-link-active {
  text-decoration: none;
}

.nodisk {
  list-style: none;
}

.header-contacts {
  justify-self: end;
}

.header__logo {
  justify-self: center;
}

.logo {
  width: 148px;
  height: 105px;
}

.contacts {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  max-width: 240px;
}

/*все секция*/
.cover {
  min-height: 757px;
  background-color: #000000;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

/*полупрозрачный блок поверх секции*/
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
}

/*заголовок*/
/*.cover__title { без flex 111
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  position: relative;
  color: #fff;
  font-size: 100px;
  letter-spacing: 30px;
  padding: 145px 50px 134px;
}*/

.cover__title {
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  position: relative;
  color: #fff;
  font-size: 100px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 165px 50px 134px;
}

/*классы для выравнивания строк текста и превращения 
их в блочный элемент*/

.aligned-text {
  display: block;
  line-height: 1.15;
  /*margin-top: 20px; без flex 111*/
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

/*класс для управления 
межбуквенным расстоянием в местах, где есть эти акценты*/

.letter-spacing-extended {
  letter-spacing: 60px;
}

/*класс для обнуления общего 
межбуквенного расстояния для последней буквы*/
.no-letter-spacing {
  letter-spacing: 0;
}

/*не нашла другого решения*/
/*.aligned-text-center--down {
  transform: translateY(20px);
}

.aligned-text--down {
  transform: translateY(40px);
}*/
/*контейнер для подзаголовка и кнопки*/

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 22px; /*62px PP*/
  /*padding-top: 30px;*/ /*PP*/
}

/*текст подзаголовка*/
.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  word-spacing: 19px;
  margin-right: 78px;
}

/*кнопка «Сделать ставку»*/
.bet-button {
  color: #fff;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 12px 32px;
  margin-right: 50px;
}

.lots {
  min-height: 100%;
  margin: 180px 50px;
}

/*заголовок секции*/
.lots__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

/*список карточек*/
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 32px;
}

/*пункт списка карточки*/

.lots__card-list-item {
  width: 430px;
  flex-grow: 1;
  list-style-type: none;
}

/*ссылка, обрамляющая карточку*/
.card-link {
  display: block;
  text-decoration: none;
}

/*карточка*/

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  padding: 50px 40px;
  color: #fff;
  font-size: 20px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*классы, чтобы задать определённый фон каждой из карточек*/

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/*overlay — он уже есть у вас в коде;*/

/*заголовок карточки;*/

.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

/*текст карточки*/
.card__text {
  position: relative;
  z-index: 1;
}

/*ссылка «Посмотреть больше»*/
.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*вся секция;*/

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  padding: 0px 50px;
  gap: 25px;
}

/*класс для колонок;*/
.about__column {
  margin-bottom: 30px;
  /*margin-top: 0px;*/
}

/*контейнер с логотипом;*/
.about__logo {
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*изображение логотипа;*/ /*я вижу так https://clip2net.com/s/4jPQrch*/
.about__logo-image {
  width: 148px;
  height: 114px;
}

/*заголовок секции;*/
.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 99px; /*нет*/
}

/*блок для текстов секции.*/
.about__text {
  font-size: 20px;
  font-weight: 400;
}

.about__text-text {
  margin-bottom: 25px;
}

.about__text p:last-child {
  margin-bottom: 0px;
}

/*подвал;*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 155px 50px 90px;
  font-size: 18px;
  font-weight: 400;
  /* align-items: center;*/
}

/*блок навигации по списку ссылок. Мы рекомендуем окружать список тегом <nav> с этим классом;*/

.footer__menu {
  max-width: 240px;
  justify-self: center;
}

/*список пунктов меню;*/
.footer__menu-list {
  text-align: center;
}

/*пункт списка меню;*/
/*.footer__menu-list-item {

}*/

.footer-menu-list li:last-child {
  margin-right: 0;
}

/*ссылка меню;*/
.footer__menu-link {
  text-underline-offset: 4px;
}

/*активная ссылка меню (без подчеркивания);*/
/*.footer__menu-link_active {

}*/

/*список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что это ссылки на внешние ресурсы;*/
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

/*пункт списка ссылок на социальные сети;*/
.footer__social-list-item {
  margin-left: 48px;
}

/*готово, а зачем это? чтобы он не влиял на что-то? */
.footer__social-list-item:first-child {
  margin-left: 0;
}

/*ссылка на социальные сети;*/
/*.footer__social-link {

}*/

/*иконка социальной сети.*/
.footer__social-icon {
  width: 48px;
  height: 48px;
}

/*main color #000 add color #fff*/
